CYBER_EW_API_KEY=
CYBER_EW_API_PORT=8080
CYBER_EW_DASHBOARD_PORT=8501
CYBER_EW_DISABLE_MOCK_SOURCES=0
CYBER_EW_ENABLE_EVENTLOG=1
CYBER_EW_EVENTLOG_CHANNELS=Security,System,Application,Microsoft-Windows-Sysmon/Operational
CYBER_EW_ENABLE_PCAP=0
CYBER_EW_PCAP_INTERFACE=
CYBER_EW_PCAP_FILTER=ip
CYBER_EW_DATA_DIR=
CYBER_EW_LOG_DIR=
CYBER_EW_RETENTION_DAYS=180
